#contact {
  background-image: url(../assets/images/Contact.jpg);
  height: 49.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .subtitle-purple {
    text-align: center;
    color: var(--purple);
  }
  h2 {
    text-align: center;
    font: var(--title-md);
    color: var(--gray-100);
    padding-block: .5rem;
  }
  .links {
    max-width: 25rem;
    max-height: 24rem;
    padding: 1rem;

    .social-button {
      width: 25rem;
      height: 4.25rem;
      display: flex;
      align-items: center;
      border-radius: 8px;
      background-color: var(--gray-400);
      gap: 12px;
      margin: 16px;
      padding: 20px;
      .logo {
      width: 28px;
      height: 28px;
      color: var(--gray-300);
      }
      .seta {
        width: 20px;
        height: 20px;
        margin-left: auto;
      }

      &:hover {
        border: 1px solid var(--blue);
        .logo {
          color: var(--blue);
        }
      }

    }
  }
}